$black: #171717;
$light-black: #333333;
$light-gray: #f2f2f2;
$gray: #999999;
$white: #ffffff;
$dark-blue: #021a84;
$light-green: #2ada66;
$red: #fe4c4c;
$bg-green: linear-gradient(220.53deg, #0cc64b 0%, #26ab5b 76.95%);

$bg-orange: linear-gradient(90deg, #ef463a 0%, #fca939 100%);
$bg-purple: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  ),
  #021a84;
$bg-pink: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  ),
  #e5532a;
$bg-gray: rgba(0, 0, 0, 0.1);
